{% extends "forum/base.html" %}
{% block content %}

<table class="table table-bordered">
    <thead>
      <tr>
        <th>Topic</th>
        <th>Last Post</th>
        <th>Posts</th>
      </tr>
    </thead>
    <tbody>
    {% for topic in topics %}
    <tr>
      <td class="col-sm-7">
          <a href="{% url 'forum-topic' topic_id=topic.id %}">{{ topic.name }}</a>
      </td>
      <td class="col-sm-4">
          <p>{{ topic.get_latest_post.content_short }}</p>
          <p>
              by <a href="#">{{ topic.get_latest_post.author.username }}</a>,
              {{ topic.get_latest_post.date_posted | date:"d M Y H:i" }}
          </p>
      </td>
      <td class="col-sm-1"> {{ topic.get_posts_count }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>



{% endblock content %}
