{% extends "forum/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>{{ topic.name }}</h1>
{% for post in posts %}
    <div style="margin:10px; margin-bottom:100px">
        <p style="color:#555555">{{ post.content }}</p>
        <p>{{ post.date_posted | date:"d M Y H:i" }}</p>
        <img src="{{ post.author.profile.image.url }}" alt="pic" style="float:left;width:50px">
        <a href="#">{{ post.author }}</a>

    </div>
{% endfor %}

<hr>
{% if user.is_authenticated %}
    <legend>Post a comment</legend>
    <form method="post">
        {% csrf_token %}
        {{ post_form|crispy }}
        <button type="submit">Post</button>
    </form>

{% else %}
    <legend>Please <a href="{% url 'login' %}?next={{ request.get_full_path }}">login</a> to post a comment.</legend>
{% endif %}
{% endblock content %}
